app-search {
  width: 100%;
}

header {
  padding: 1rem;
  color: #3d4245;
  letter-spacing: 1.8px;

  .title {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  .sub-title {
    font-size: 1rem;
  }
}