/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.2rem;
  color: #444;
  background-color: #fff;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.container {
  max-width: 700px;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #dedede;
  background-color: #f6f6f6;
}
